[submodule "vendor/limine"]
	path = vendor/limine
	url = https://github.com/limine-bootloader/limine.git
	branch = v7.x-binary
[submodule "vendor/flanterm"]
	path = vendor/flanterm
	url = https://github.com/mintsuki/flanterm.git
[submodule "vendor/nanoprintf"]
	path = vendor/nanoprintf
	url = https://github.com/charlesnicholson/nanoprintf.git
